*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Navbar Start */
#navbar{
    background: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;
}
.navbar-toggler span{
    color: #ffa500;
}
.navbar-collapse{
    margin: 20px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    text-align: center;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: white;
    text-align: center;
    
}
#navbar form button{
    background: orange;
    color: white;
    border: none;
    text-align: center;
}
/* .dropdwon{
    display:none;
} */
.dropdwon1{
    display:none;
    max-width: 200px;
   
}
.dropdwon2{
    display:none;
}
/* .navbar-collapse ul li:hover .dropdwon{
    display: block;
    position:absolute;
    background: orange;
    margin: auto;
    /* margin-top: 10px; */
    /* margin-left: -10px; */
    /* text-align: center; */
/*} */
.navbar-collapse ul li:hover .dropdwon1{
    display: block;
    position:absolute;
    background: orange;
    /* margin-left: -3px; */
     text-align: center;
     /* word-wrap: break-word;
    white-space: normal; */
    /* max-width: 200px; */

}
.navbar-collapse ul li:hover .dropdwon2{
    display: block;
    position:absolute;
    background: orange;
    
    margin-right: -40px;
    text-align: center;
}
.navbar-collapse ul li ul{
    width:80px;
    padding: 5px;
    border-bottom:1px #0e0e0e;
     background: transparent;
    border-radius: 2;
    text-align: center;
}
/* Navbar End */

/* Home Section Start */

/* for slide */
/* .image-slideshow {
    max-width: 1500px;
    max-height: 100px;
    position: relative;
    margin: auto;
    z-index: -1;
  }
  img {
    width: 100%;
    height:100%;
  }
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  @keyframes fade {
    from {opacity: 0.2}
    to {opacity: 2}
  } */
  /* end slide */
  /* new slide start */
  
.slider{
    overflow:hidden;
    width:100%;
    height:80vh;
    z-index: -1;
}
.slider figure div{
    float:left;
    width:20%;
   
}

.slider figure img{
    width:100%;
    height:80vh;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    float:left;
    
}
.slider figure{
    position:relative;
    width:500%;
    margin:0;
    animation:animate 15s infinite;
    z-index: -1;
}
/* p{
    position:fixed;
    color:#fff;
    font-size: 70px;
    text-align:center;
    padding-top: 250px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height:80vh;
} */
@keyframes animate{
    0%{left:0%;}
    10%{left:0%;}
    12%{left:-100%;}
    22%{left:-100%;}
    24%{left:-200%;}
    34%{left:-200%;}
    36%{left:-300%;}
    46%{left:-300%;}
    48%{left:-400%;}
    58%{left:-400%;}
    60%{left:-300%;}
    70%{left:-300%;}
    72%{left:-200%;}
    82%{left:-200%;}
    84%{left:-100%;}
    94%{left:-100%;}
    96%{left:0%;}
    
   
}

  /* new slide end */
.home{
    width: 100%;
    height: 90vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),; */
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 2px;
}
.home .content h3{
    color: rgb(20, 19, 19);
    font-size: 50px;
    font-weight: 550;
    text-shadow: 0px 1px 1px rgb(5, 3, 3);
    text-align: center;
}
.home .content h3 span{
    color: #ffa500;
}
.home .content h1{
    color: rgb(17, 16, 16);
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 10px;
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 20s infinite linear;
}
/* @keyframes changetext{
    0%{content: "TAJMAHAL";}
    10%{content: "RAM MANDIR";}
    20%{content: "SARNA TEMPLE";}
    30%{content: "China";}
    40%{content: "India";}
    50%{content: "Pakistan";}
    60%{content: "Italy";}
    70%{content: "Turkey";}
    80%{content: "Mexico";}
    90%{content: "Germany";}
    100%{content: "United kingdom";}
}  */
.home .content p{
    color: #0e0e0e;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 50px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 20s;
}
.home .content a:hover{
    background: #ffa500;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h3{
        font-size: 50px;
        
        
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home Section End */

/* Section states Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ffa500;
}
.State .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    /* width: 410px; 
    height: 315px; */
}
.State .card img{
    border-radius: 5px;
    width: 415px; 
    height: 315px; 
   
    
}
.State .card .card-body{
    background: transparent;
}
.State .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.State .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.State .card .card-body h6{
    font-size: 20px;
}
.State .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
}
/* Section states End */



/* About Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
    width: 420px;
    height: 395px;
}
.about .card img{
    border-radius: 10px;
    width: 410px; 
    height: 395px; 
    align-self: center;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */




/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ffa500;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}
/* Footer End */